@import '../css/Utils/variables';
@import '../css/Utils/mixins';
@import '../css/Utils/placeholders';
@import '../css/Components/button';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 100%;
        height: 6rem;
        @extend %header-typography;
        margin: 2rem 0rem 0rem 0rem;
    }
}

.gps-bloc {
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0 5px 5px -5px rgb(131, 131, 131);
    width: 100%;
    height: 50px;
    padding-left: 8.5rem;
    @extend %text-typography;
    font-size: 1.8rem;

    .gps-icon {
        margin-right: 3rem;
    }
}

.bloc1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 286px;
    background-color: rgb(246, 246, 246);

    h2 {
        margin: 4rem 0 2rem 0;
        @extend %text-typography;
        font-weight: bold;
        font-size: 2.5rem;
    }

    p {
        margin: 0 0 2rem 0;
        @extend %text-typography;
        font-weight: 300;
        font-size: 1.8rem;
    }
}

.valider {
    @extend %button-valider;
}

.bloc2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 2rem 3rem 2rem;

    h2 {
        margin: 4rem 0 2rem 0;
        @extend %text-typography;
        text-align: start;
        font-weight: bold;
        font-size: 2.2rem;
    }
}

.button-fonction-bloc {
    display: flex;
    flex-direction: column;
    width: 100%;

    .fonction-btn {
        @extend %btn-fonction;
        transition: all 1s;

        &:hover {

            background: $Primary-color-transparent;

            .icon-fonction {
                color: $Primary-color;
            }
        }
    }


}

.bloc3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 2rem 2rem 2rem;
    background-color: $background-bloc;

    h2 {
        margin: 4rem 0 2rem 0;
        @extend %text-typography;
        text-align: start;
        font-weight: bold;
        font-size: 2.2rem;
    }
}

.carte-restaurant {
    @extend %carte-restaurant;
}

.description-carte {
    @extend %description-style;
}

/* PAGE 1 */

.second-header {
    display: flex;
    flex-direction: row;

    h1 {
        @extend %header-typography;
    }

    .btn-back {
        font-size: 2rem;
        margin: 2rem 0 0 2rem;
    }

}

.container-title-menu {

    .img-menu {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .title-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 3rem 3rem 0 0 / 3rem 3rem 0 0;
        background-color: $background-bloc;
        width: 100%;
        padding: 2rem 3rem 1rem 3rem;
        position: absolute;
        top: 27rem;

        h2 {
            font-size: 2.5rem;
            @extend %header-typography;
        }

        .icon-like {
            font-size: 2rem;
            margin-right: 2rem;
            border: none;
            background-color: $background-bloc;
        }
    }
}


.bloc-menu1 {
    @extend %bloc-menu--style;
    text-align: start;

    h3 {
       @extend %text-menu--typography;
       margin-top: 1.5rem;
    }

    .green-border {
        margin: 0.3rem 0 1rem 0;
        border: 1px solid $Third-color;
        width: 3rem;
    }

    .btn-food {
        @extend %menu-food;
    }

    .commander {
        @extend %button-commander;
        margin: 4rem 0 0 6.5rem;
    }
}





footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    background-color: rgb(53, 53, 53);
    padding: 2.5rem 0 0 2.5rem;

    a {
        @extend %footer-text-typography;
    }

    h2 {
        @extend %footer-typography;
        margin-bottom: 2rem;
    }

    .link1{
        display: flex;
        @extend %footer-text-typography;

        .utensils-icon {
            font-size: 1.5rem;
            margin-right: 1.5rem;
        }
    }

    .link2 {
        display: flex;
        @extend %footer-text-typography;

        .hands-icon {
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }
}

.link1, .link2, .link3, .link4 {
    margin-bottom: 1rem;
}