@import '../css/Utils/variables';
@import '../css/Utils/mixins';
@import '../css/Utils/placeholders';
@import '../css/Components/button';
@import '../css/Utils/keyframes';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 100%;
        height: 6rem;
        @extend %header-typography;
        margin: 2rem 0rem 0rem 0rem;
    }
}

.loader-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(253, 253, 253);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: fadeOut 4s ease forwards;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    @extend %text-typography;
    font-size: 8rem;
    color: $Primary-color;
    text-align: center;
    animation: loader-dot 1s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.1s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.3s;
}

.gps-bloc {
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0 5px 5px -5px rgb(131, 131, 131);
    width: 100%;
    height: 50px;
    padding-left: 8.5rem;
    @extend %text-typography;
    font-size: 1.8rem;

    .gps-icon {
        margin-right: 3rem;
    }
}

.bloc1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 286px;
    background-color: rgb(246, 246, 246);

    h2 {
        margin: 4rem 0 2rem 0;
        @extend %text-typography;
        font-weight: bold;
        font-size: 2.5rem;
    }

    p {
        margin: 0 0 2rem 0;
        @extend %text-typography;
        font-weight: 300;
        font-size: 1.8rem;
    }
}

.valider {
    @extend %button-valider;
}

.bloc2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 2rem 3rem 2rem;

    h2 {
        margin: 4rem 0 2rem 0;
        @extend %text-typography;
        text-align: start;
        font-weight: bold;
        font-size: 2.2rem;
    }
}

.button-fonction-bloc {
    display: flex;
    flex-direction: column;
    width: 100%;

    .fonction-btn {
        @extend %btn-fonction;
        transition: all 1s;

        &:hover {

            cursor: pointer;
            background: $Primary-color-transparent;

            .icon-fonction {
                color: $Primary-color;
            }
        }
    }


}

.bloc3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 2rem 2rem 2rem;
    background-color: $background-bloc;

    h2 {
        margin: 4rem 0 2rem 0;
        @extend %text-typography;
        text-align: start;
        font-weight: bold;
        font-size: 2.2rem;
    }

    .carte-restaurant-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.carte-restaurant {
    @extend %carte-restaurant;
}

.description-carte {
    @extend %description-style;
}

/* PAGE 1 */

.second-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
        @extend %header-typography;
    }

    .btn-back {
        font-size: 2rem;
        margin: 0 0 0 2rem;
        text-decoration: none;
        color: black;
    }

}

.container-title-menu {

    .img-menu {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .title-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 3rem 3rem 0 0 / 3rem 3rem 0 0;
        background-color: $background-bloc;
        width: 100%;
        padding: 2rem 3rem 1rem 3rem;
        position: absolute;
        top: 27rem;

        h2 {
            font-size: 2.5rem;
            @extend %header-typography;
            animation: fade_in 2.5s ease-in-out;
        }

        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;

            .icon-like {
                width: 100%;
                stroke: rgb(0, 0, 0);
                stroke-width: 2rem;
                fill-opacity: 0;
    
                &:hover {
                    cursor: pointer;
                    animation: color 1s ease forwards;
                }
            }
        }
    }
}

.bloc-menu1 {
    @extend %bloc-menu--style;
    text-align: start;


    h3 {
       @extend %text-menu--typography;
       margin-top: 1.5rem;
       animation: slide_down 1.2s ease-in-out;

    }

    .green-border {
        margin: 0.3rem 0 1rem 0;
        border: 1px solid $Third-color;
        width: 3rem;
        animation: slide_down 1.2s ease-in-out;
    }

    .btn-food {
        @extend %menu-food;
        background: linear-gradient(to left, $Third-color 50%, #fff 50%);
        background-size: 200% 100%;
        background-position: left;
        transition: all 0.3s ease-out;

        &:hover {
            cursor: pointer;
            background-position: -5.5rem;

            .check-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 1rem 0 0;
                font-size: 1.8rem;
                color: #fff;
                animation: rotation 0.5s ease-in;
            }

            .price {
                animation: slide-right 0.4s ease-in;
                align-items: flex-start;
                width: 5rem;
            }

            h4, p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 150px;
            }
        }
    }
}

.menu-1 {
    animation: slide_down 1.2s ease-in-out;
}

.menu-2 {
    animation: slide_down 1.4s ease-in-out;
}

.menu-3 {
    animation: slide_down 1.6s ease-in-out;
}

.menu-4 {
    animation: slide_down 1.8s ease-in-out;
}

.btn-commander-container {
    display: flex;
    justify-content: center;
}

.commander {
    @extend %button-commander;
    margin: 4rem 0 0 0;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 220px;
    background-color: rgb(53, 53, 53);
    padding: 2.5rem 0 0 2.5rem;

    a {
        @extend %footer-text-typography;
    }

    h2 {
        @extend %footer-typography;
        margin-bottom: 2rem;
    }

    .link1{
        display: flex;
        @extend %footer-text-typography;

        .utensils-icon {
            font-size: 1.5rem;
            margin-right: 1.5rem;
        }
    }

    .link2 {
        display: flex;
        @extend %footer-text-typography;

        .hands-icon {
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }
}

.link1, .link2, .link3, .link4 {
    margin-bottom: 1rem;
}


        /* MEDIA QUERIES */

@media (min-width: $bp-tablet) {
    
    .gps-bloc {
        padding: 0;
        justify-content: center;
    }

    .bloc1 {
        height: auto;
        padding-bottom: 5rem;
    }

    .bloc2 {
        align-items: center;

        .button-fonction-bloc {
            width: 80%;
            align-items: center;
        }
    }

    .bloc3 {
        align-items: center;

        .carte-restaurant {
            width: 80%;
        }
    }
}

@media (min-width: $bp-laptop) {

    .bloc2 {
        align-items: flex-start;

        h2 {
            margin-top: 2.5rem;
        }

        .button-fonction-bloc {
            width: 100%;
            flex-direction: row;

            .fonction-btn {
                margin: 1rem;
            }
        }
    }

    .bloc3 {
        align-items: flex-start;

        .carte-restaurant-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
    
            .carte-restaurant {
                width: 45%;
                margin: 1rem;
            }
        }
    }
}

@media (min-width: $bp-desktop) {

    .button-fonction-bloc {
        justify-content: space-around;

        .fonction-btn {
            width: 25%;
        }
    }

    .bloc3 {
        .carte-restaurant-container {
            justify-content: space-around;

            .carte-restaurant {
                width: 20%;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .container-title-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .title-menu {
            width: 58%;
        }
    }

    .bloc-menu1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding-bottom: 0;

        .btn-food-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            background-color: $background-bloc;
            padding-bottom: 2rem;

        }

        .btn-food {
            width: 50%;
        }

        .commander {
            margin-left: 0;
        }
    }

    footer {
        height: auto;

        h2 {
            font-size: 2.5rem;
        }
    }
}